/*
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.tbl-30 {
    width: 30%;
}

.tbl-full {
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.btn-primary {
    background-color: 3498db;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary {
    background-color: 27ae60;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: rgb(0, 255, 21);
}

.btn-danger {
    background-color: c0392b;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: red;
}

.btn-primary:hover {
    background-color: blue;
}


/*Css for menue*/

.menu {
    border-bottom: 1px solid black;
}

.menu ul {
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: pink;
}

.menu ul li a:hover {
    color: blue;
}

.menu ul li {
    display: inline;
    padding: 1%;
}


/* css for main content*/

.main-content {
    background-color: beige;
    padding: 3% 0;
}

.col-4 {
    width: 20%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
    width: 18%;
}


/* css for footer */

.footer {
    background-color: aquamarine;
    color: white;
}